extends ../../partials/base.pug

mixin course(name, teachers, email, description, isHonors, isECE, isAP)
	.card
		+card-header(name)
		+card-content
			if description
				p.content= description

			.tags
				each teacher in teachers
					+link(teacher.email, false)(class="tag is-link")
						+icon("user")
						span= teacher.name
				
				if isHonors || isECE || isAP
						if isHonors
							span.tag Honors
						if isECE
							span.tag ECE
						if isAP
							span.tag AP

block head
	+title("Academics")

block body
	+banner(image)
		+banner-body(name, lead)

	.container
		+section(assignments.name, assignments.lead, assignments.anchorId)
			if !isEmptyObjectArray(assignments.files)
				//- TODO: Render list group of assignments
			else
				+message("No Assignments", "There are no assignments currently available. Please check back later!")(class="is-warning")
		
		+section(departments.name, departments.lead, departments.anchorId)
			.tabs-wrapper
				.tabs
					ul
						each department, index in departments.departments
							li(class=!index ? "is-active" : null) #[a= department.name]
				
				.tabs-content
					ul
						each department, index in departments.departments
							li(class=!index ? "is-active" : null)
								.columns.is-variable.is-6
									.column
										.columns.is-multiline.is-variable.is-3
											each course in department.courses
												.column(class=department.description ? "is-half" : department.courses.length > 4 ? "is-one-quarter" : null)
													+course(course.name, course.teachers, course.email, course.description, course.isHonors, course.isECE, course.isAP)

									if department.description
										.content.column.is-two-fifths.is-hidden-mobile
											h4.is-size-6.is-size-5-desktop Description
											p= department.description
