extends ../../partials/base.pug

mixin course(name, teacher, email, description, isHonors, isECE, isAP)
	.card
		+card-header(name)
		+card-content(true)
			if description
				= description
			if isHonors || isECE || isAP
				.tags
					if isHonors
						span.tag Honors
					if isECE
						span.tag ECE
					if isAP
						span.tag AP
		if email
			+card-footer
				+card-footer-item
					+link(`mailto:${email}`, false)
						span.icon
							i.fas.fa-envelope(aria-hidden="true")
						span Email

block head
	+title("Academics")

block body
	+banner(image)
		+banner-body(name, lead)

	.container
		+section(assignments.name, assignments.lead, assignments.anchorId)
			if !isEmptyObjectArray(assignments.files)
				//- TODO: Render list group of assignments
			else
				+message("warning", "No Assignments", "There are no assignments currently available. Please check back later!")
		
		+section(departments.name, departments.lead, departments.anchorId)
			.tabs-wrapper
				.tabs
					ul
						each department, index in departments.departments
							li(class=!index ? "is-active" : null) #[a= department.name]
				
				.tabs-content
					ul
						each department, index in departments.departments
							li(class=!index ? "is-active" : null)
								.columns
									.column
										.columns.is-multiline
											each course in department.courses
												.column(class=department.description ? "is-half" : department.courses.length > 4 ? "is-one-quarter" : null)
													+course(course.name, course.teacher, course.email, course.description, course.isHonors, course.isECE, course.isAP)

									if department.description
										.content.column.is-two-fifths.is-hidden-mobile
											h3.is-size-5 Description
											p= department.description
