mixin column-card(name, content)
	.column
		+card(name, content)
			block

mixin card(name)
	.card
		+card-header(name)
		.card-content
			block

mixin card-header(name)
	.card-header
		b.card-header-title= name
		block