include ./mixins.pug

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		
		block head
	body
		<!--[if IE]>
			.container.message.is-danger
				h1.message-header Outdated Browser
				p.message-body
					.
						You are using an outdated version of
						#[b.has-text-weight-semibold Internet Explorer.]

						Please upgrade to at least
						#[b.has-text-weight-semibold version 10] or use
						#[b.has-text-weight-semibold Firefox] or 
						#[b.has-text-weight-semibold Chrome] to view this website. 
		<![endif]-->

		<!--[if !IE]><!-->
			include navbar.pug

			block body
			
			include footer.pug
		<!--<![endif]-->