include ./mixins/all.pug

doctype html
html.has-navbar-fixed-top(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	
		//- Theme color for Chrome, Firefox OS and Opera
		meta(name="theme-color" content="#ff3860")
		
		//- Short description of the document (limit to 150 characters)
		//- This content *may* be used as a part of search engine results.
		meta(name="description" content="University High School of Science and Engineering")

		//- Short description of your document"s subject
		meta(name="subject" content="University High School of Science and Engineering")

		//- Gives a general age rating based on the document"s content
		meta(name="rating" content="General")

		//- Allows control over how referrer information is passed
		meta(name="referrer" content="no-referrer")

		//- Links to information about the author(s) of the document
		link(rel="author" href="humans.txt")

		block head

		noscript
			style.
				.notification.is-docked {
					position: fixed !important;
					right: 0;
					bottom: 0;

					max-width: 400px;
				}

			block noscript-head
	body
		<!--[if IE]>
			.container.message.is-danger
				h1.message-header Outdated Browser
				p.message-body
					.
						You are using an outdated version of
						#[b.has-text-weight-semibold Internet Explorer.]

						Please upgrade to at least
						#[b.has-text-weight-semibold version 10] or use
						#[b.has-text-weight-semibold Firefox] or 
						#[b.has-text-weight-semibold Chrome] to view this website. 
		<![endif]-->

		<!--[if !IE]><!-->
			include navbar.pug

			block body
			
			noscript
				p.notification.is-warning.is-docked
					strong JavaScript is currently disabled.
					
					br
					
					| Some parts of this site may not work as intended.
					| To view this site properly, please enable JavaScript.

			include footer.pug
		<!--<![endif]-->