mixin icon(name)
	+bulma-icon
		+zondicon(name)

mixin bulma-icon
	span.icon&attributes(attributes)
		block

mixin zondicon(name, large)
	i(class=`zondicon-${name}${large ? ` zondicon-large` : ""}${attributes.class ? attributes.class : ""}`)