mixin message(description, name)
	.message&attributes(attributes)
		if name
			+message-header(name)
		+message-body(description)
			block

mixin message-header(name)
	b.message-header= name

mixin message-body(description)
	p.message-body
		=description