footer.footer
	.content.has-text-centered
		| © #{new Date().getFullYear()} University High School of Science and Engineering Deca Class.
		
		br
		
		| Developed by #[+link("https://berenson.me", true) Spencer Berenson] &
		| #[+link("http://duro.me", true) Andi Duro].
		| Initial redesign by #[+link("https://github.com/tpatel1781", true) Tej Patel].
		
		br

		| Redesign v2 by #[+link("https://berenson.me", true) Spencer Berenson].

		br

		small Maintained by #[+link("https://github.com/LeoPiGuy", true) Leo Gold].