footer.footer
	.content.has-text-centered
		| © #{new Date().getFullYear()} University High School of Science and Engineering Deca Class.
		
		br
		
		| Originally developed by #[+link("https://berenson.me", true) Spencer Berenson]
		| and #[+link("http://duro.me", true) Andi Duro].
		| Initial design by #[+link("https://github.com/tpatel1781", true) Tej Patel].
		
		br

		| Maintained and updated by #[+link("https://github.com/LeoPiGuy", true) Leo Gold].