$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~bulma";

.hero.has-background-image {
	position: relative;

	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.media-left {
	&.is-further-spaced {
		margin-right: 2em;
	}
}

.icon {
	&.is-extra-large {
		width: 4rem;
		height: 4rem;
	}

	&.is-rounded {
		border-radius: 100%;
	}
}

.tabs-content > ul > li {
	display: none;
	list-style: none;

	&.is-active {
		display: block;
	}
}

.table-scroll {
	max-height: 20rem;
	overflow-y: auto;
}
